body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  widows: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(194, 194, 194, 0.774);
}

h1 {
display: flex;
justify-content: center;
align-self: center;
}

.stalkers-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  margin: 0;
  height: 95%;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 5px;
  overflow: scroll;
}

li {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stalkers-list {
  width: 150px;
  height: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

.stalking-list {
  width: 120px;
  height: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

.links {
    width: 120px;
  height: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

.logo img {
  border-radius: 50%;
  height: 80px;

}

.logo {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
    padding-left: 20px;
    height: 100px;
    background-color: rgb(194, 194, 194, 0.774);

}

.wall {
  padding-top: 20px;
  background-color: rgb(238, 238, 238);
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.photo img {
  width: 300px;
}